<h1><%= @name %>'s Bracket</h1>

<h3>Round <%= 5 - Math::log(@teams.length,2).to_i %></h3>
<form action="/bracket" method="POST">
    <% @teams.each_index do |index| %>
        <% if index.even? then %>
            <%= @teams[index].name %>: <input type = "radio" value = "<%= @teams[index].name %>" name = "<%= index %>" checked/>
            <br/>
            <%= @teams[index+1].name %>: <input type = "radio" value = "<%= @teams[index+1].name %>" name = "<%= index %>" />
            <hr>
        <% end %>
    <% end %>
    <input type = "submit"/>
    <input type = "reset"/>
</form>
