<h1><%= @name %>'s Predictions</h1>

<% if @message then %>
    <h3><%= @message %></h3>
<% end %>

<h3>Round <%= 5 - Math::log(@teams.length,2).to_i %></h3>
<form action="/predictions" method="POST">
    <% @teams.each_with_index do |team, index| %>
        <%= team.name %>: <input type = "number" name = "<%= team.name %>" min = "0" max = "4"/> 
        <br/>
        <% if index.odd? then %>
            <hr>
        <% end %>
    <% end %>
    <input type = "submit"/>
    <input type = "reset"/>
</form>
