<table class="table table-sm table-striped", style="text-align: center">
    <thead>
    <tr class="text-center">
        <th>Username</th>
        <% for team in TEAMS do %>
            <th><%= ABBREVIATIONS[team.name] %></th>
        <% end %>
        <th>Malus</th>
        <th>Round</th>
    </tr>
    </thead>

    <tbody>
    <th colspan="19" class="text-center">Predictions</th>
    <% for prediction in @predictions do %>
        <tr>
            <td>
                <% if prediction.username=="reference" then %>
                    <%= prediction.username.capitalize %>
                <% else %>
                    <%= prediction.secret_no %>
                <% end %>
            </td>
            <% for team in TEAMS do %>
                <td><%= prediction[team.name.to_sym] %></td>
            <% end %>
            <td class="table-primary"><%= prediction.compute_malus(Prediction.find(username: "reference", round: prediction.round)).round(2) %></td>
            <td><%= prediction.round %></td>
        </tr>
    <% end %>

    <th colspan="19" class="text-center">Brackets</th>
    <% for bracket in @brackets do %>
        <tr>
            <td>
                <% if bracket.username=="reference" then %>
                    <%= bracket.username.capitalize %>
                <% else %>
                    <%= bracket.secret_no %>
                <% end %>
            </td>
            <% for team in TEAMS do %>
                <td><%= bracket.count(team.name.to_sym) %></td>
            <% end %>
            <td class="table-primary"><%= bracket.compute_malus(Bracket.find(username: "reference")).round(2) %></td>
        </tr>
    <% end %>
    </tbody>
</table>
