<% @predictions.each do |prediction| %>
    <% Prediction.columns.each_with_index do |column,index| %>
        <%= column %>:<%= prediction[column] %><div>   </div>
        <% if index==2 then %>
            <br/><br/>
        <% end %>
    <% end %>
    <hr>
<% end %>

<hr>

<% @brackets.each do |bracket| %>
    id:<%= bracket.id %><br>
    username:<%= bracket.username %><br>
    secret_no:<%= bracket.secret_no %><br>
    <br>
    <% bracket.rounds.each do |round| %>
        <% Round.columns.each do |column| %>
            <%= column %>:<%= round[column] %><div>   </div>
        <% end %>
    <% end %>
    <hr>
<% end %>
