<h1>Predictions</h1>

<% if @message then %>
    <h3><%= @message %></h3>
<% end %>

<form action="/prediction/new" method="POST">
    <% @matchups.each_with_index do |matchup, index| %>
        <%= matchup.team1 %>: <input type = "number" name = "data[<%= matchup.team1 %>]" min = "0" max = "4"/>
        <%= matchup.team2 %>: <input type = "number" name = "data[<%= matchup.team2 %>]" min = "0" max = "4"/>
        Round: <input type = "number" name = "data[<%= "round" + index.to_s %>]" value = "<%= matchup.round %>"/>
        <br/>
    <% end %>
    Name: <input type = "text" name = "username"/></br>
    Password: <input type = "text" name = "password"/></br>
    <input type = "submit"/>
    <input type = "reset"/>
</form>
