<h1>Create a new user</h1>

<% if @message then %>
    <h3><%= @message %></h3>
<% end %>

<form action="/user/new" method="POST">
    Name: <input type = "text" name = "username"/></br>
    Password: <input type = "text" name = "password"/></br>
    <input type = "submit"/>
    <input type = "reset"/>
</form>
