<h1>Bracket</h1>

<% if @message then %>
    <h3><%= @message %></h3>
<% end %>

<form action="/brecord/new" method="POST">
    <% @teams.each do |team| %>
        <%= team.name %>: <input type = "number" name = "data[<%= team.name %>]" min = "0" max = "4"/><br/>
    <% end %>
    Name: <input type = "text" name = "username"/></br>
    Password: <input type = "text" name = "password"/></br>
    <input type = "submit"/>
    <input type = "reset"/>
</form>
